* {
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #000131;
  margin-top: 5%;
}

body {
  background-color: #ffffff;
}
#form {
  justify-content: center;
}
